html {
  height: 100%;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans';
	font-weight: bold;
  	height: 100%;
}

.wrapper {
  	min-height: 100%;
  	display: flex;
  	flex-direction: column;
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
}

main {
	flex-grow: 1;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {text-decoration: none;}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

.container {
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 60px;
}

.new {
	position: absolute;
	top: 15px;
	left: 0;
	padding: 8px 13px;
	background: #f14a58;
	z-index: 998;
}

.new span {
	color: #fff;
	font-family: 'Roboto';
	font-weight: 500;
	text-transform: uppercase;
	font-size: 13px;
}

.btn {
	text-align: center;
}

.btn a {
	padding: 20px 105px;
	border: 1px solid #e5e5e5;
	font-size: 24px;
	color: #111;
	display: inline-block;
	transition: color .3s, border-color .3s;
}

.btn a:hover {
	border-color: #f14a58;
	color: #f14a58;
}

.img-overlay {
	position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    color: #f14a58;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    opacity: 0;
    z-index: 999;
    transition: all .3s;
}

.header__burger,
.header__menu {
	display: none;
}

.header-top__anchor {color: #111;}

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}

.header-top__title {font-size: 30px;}

.header-top__title_mobile {display: none;}

.header-info a {
	font-family: 'Roboto';
	font-size: 12px;
	font-weight: 400;
	color: #111;
	transition: color .3s;
}

.header-info a:hover {color: #f14a58;}

.header-info__bag {margin-left: 50px;}

.header-info__bag img {margin-right: 15px;}

.header-bottom {margin: 24px 0 13px 0;}

.nav ul {
	display: flex;
	justify-content: space-between;
}

.nav__item a {
	font-size: 13px;
	color: #111;
	transition: color .3s;
}

.nav__item a:hover {color: #f14a58;}

.nav__item_search {
	margin-right: 0;
	margin-left: 20px;
	position: relative;
}

.search-input {
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 2px solid #e5e5e5;
	width: 118px;
	padding-bottom: 8px;
	font-size: 12px;
	color: #a8a8a8;
	transition: width .3s;
}

.search-input:focus {
	width: 250px;
	outline: none;
}

.nav__item_search i {
	color: #a8a8a8;
	font-size: 13px;
	position: absolute;
	right: 0;
	top: 6px;
	cursor: pointer;
}

.shopping-bag {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 30px;
}

.shopping-bag__title {
	margin: 20px 0;
	font-size: 26px;
}

.bag__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

.bag__list.empty{
	justify-content: center;
    font-size: 24px;
} 

.bag__item {
	display: flex;
	font-family: 'Roboto';
	margin-bottom: 90px;
}

.bag__item:last-child {
	margin-right: 133px;
}

.bag__text {
	display: flex;
	flex-direction: column;
}

.bag__img {
    width: 240px;
    height: 340px;
	position: relative;
	margin-right: 25px;
}

.bag__img:hover .img-overlay {
    opacity: 1;
}

.bag__title {
	font-size: 14px;
	margin: 13px 0 20px 0;
}

.bag__cost {
	font-size: 16px;
	margin-bottom: 40px;
}

.bag__desc {
	font-size: 12px;
	font-weight: 400;
	margin-bottom: 13px;
}

.bag__desc:last-child {margin-bottom: 0;}

.bag__desc span {
	color: #f14a58;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	margin: 0 10px;
}

.bag__remove {
	font-size: 13px;
	color: #f14a58;
	margin-top: 35px;
	font-family: 'Open Sans';
	font-weight: bold;
}

.delivery-info {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	background: #f7f7f7;
	text-align: center;
}

.delivery-info__text {
	font-size: 12px;
	margin: 15px 0;
	display: inline-block;
}

.delivery-info__text span {color: #f14a58;}

.checkout__list {
	display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 100px 0;
}

.checkout__empty {
	font-size: 12px;
	color: #111;
}

.checkout__price-text {
	font-size: 22px;
	font-family: 'Roboto';
}

.checkout__price {
	font-size: 24px;
	font-family: 'Roboto';
}

.footer-top {
	border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.footer-top__inner {display: flex;}

.footer-top__links {
	display: flex;
	width: 50%;
    padding-right: 57px;
	border-right: 1px solid #e5e5e5;
}

.footer-top__links-item:first-child {margin-right: 167px;}

.footer-top__links-item:last-child {margin-bottom: 115px;}

.footer-top__links-item h2 {
	font-size: 16px;
	margin: 55px 0 50px 0;
}

.footer-top__links-item li {margin-bottom: 25px;}
.footer-top__links-item li:last-child {margin-bottom: 0;}

.footer-top__links-item a {
	font-size: 14px;
	font-weight: 400;
	color: #111;
	font-family: 'Roboto';
}

.footer-top__links-item a:hover {text-decoration: underline;}

.footer-top__info {
	width: 50%;
	padding-left: 57px;
}

.footer-top__info-wrapper {display: flex;}

.footer-top__info-item:first-child {
	margin-right: 105px;
}

.footer-top__info-item h2 {
	font-size: 16px;
	margin: 55px 0 20px 0;
}

.footer-top__info-item span {
	font-size: 14px;
	font-family: 'Roboto';
	font-weight: 400;
}

.footer-top__info-item span i {
	font-size: 14px;
	color: #d7d7d7;
	margin-right: 10px;
	transition: color .3s;
}

.footer-top__info-item span i:hover {
	color: #f14a58;
	cursor: pointer;
}

.footer-top__info-item span a {
	font-weight: bold;
	color: #111;
	transition: color .3s;
}

.footer-top__info-item span a:hover {color: #f14a58;}

.footer-top__delivery {
	margin: 80px 0 45px 0;
	width: 301px;
}

.footer-top__delivery p {
	font-size: 16px;
	font-family: 'Times New Roman';
	font-style: italic;
	line-height: 30px;
	color: #757575;
}

.footer-top__icons a i {font-size: 14px;}

.footer-top__icons a:first-child i {
	margin-right: 20px;
	color: #315295;
}

.footer-top__icons a:last-child i {color: #4bb8f0;}

.footer-bottom__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 35px 0;
}

.footer-bottom__rights {
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 12px;
}

.footer-bottom__share h2 {
	font-size: 18px;
	margin-right: 8px;
}

.footer-bottom__share {
	display: flex;
	align-items: center;
}

.footer-bottom__share-block {
	width: 45px;
	height: 21px;
	margin-top: 4px;
	background-color: #f4f4f4;
	position: relative;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 12px;
	line-height: 21px;
	text-align: center;
}

.footer-bottom__share-block:after {
	content: '';
    position: absolute;
    left: -10px;
    top: 5px;
    border: 5px solid transparent;
    border-right: 5px solid #f4f4f4;
}

.footer-bottom__help a {
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 12px;
	color: #111;
	margin-left: 35px;
	transition: color .3s;
}

.footer-bottom__help a:hover {
	color: #f14a58; 
}

.footer-bottom__help a:first-child {
	margin-left: 0;
}

.header-top__anchor_mobile {display: none;}
.footer-top-mobile {display: none;}
.footer-bottom-mobile {display: none;}
.footer-rights-mobile {display: none;}

@media (min-width: 768px) and (max-width: 1128px){
	.container {
		max-width: 768px;
		padding: 0 40px;
	}

	.header-top h1 {font-size: 26px;}

	.nav__item a {font-size: 12px;}

	.search-input {
		display: none;
	}

	.nav__item_search:hover .search-input {
		display: inline-block;
	}
	
	.footer-top__links {
		border: none;
		padding-right: 0;
		justify-content: space-between;
	}

	.footer-top__info {
		width: auto;
		padding-left: 0;
		margin-left: 105px;
	}

	.footer-top__delivery {
		display: none;
	}

	.footer-top__info-wrapper{display: block;}
	.footer-top__info-item:first-child,
	.footer-top__links-item:first-child {margin-right: 0;}

	.footer-top__icons {margin-top: 90px;}

	.btn a {
        font-size: 20px;
	}
}

@media (min-width: 375px) and (max-width: 767px){
	.container {
		max-width: 375px;
		padding: 0 20px;
	}

	.header-top__anchor {display: none;}

	.header-top__anchor_mobile {display: block;}

	.header-top h1 {
		font-size: 24px;
	}
	
	.header-top {
		margin: 0;
		line-height: 70px;
	}

	.header__burger {
		display: block;
		position: relative;
		width: 14px;
		height: 12px;
		cursor: pointer;
	}

	.header__burger:before,
	.header__burger:after {
		content: '';
		background-color: #111;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all .3s ease;
	}
	
	.header__burger:before {
		top: 0;
	}

	.header__burger:after {
		bottom: 0;
	}
	
	.header__burger span {
		position: absolute;
		background-color: #111;
		left: 0;
		width: 100%;
		height: 2px;
		top: 5px;
		transition: all .3s ease;
	}

	.header__menu {
		position: absolute;
		display: block;
		top: 73px;
		left: 0;
		width: 100%;
		background-color: #fff;
		z-index: 1000;
		opacity: 0;
		transition: all .3s ease;
		visibility: hidden;
	}
	
	.header__menu.active {
		opacity: 1;
		visibility: visible;
	}

	.header__list {
	    padding: 30px 0 0 20px;
	}

	.header__list li {
		margin-bottom: 30px;
	}

	.header__link {
		font-size: 24px;
		color: #111;
		transition: all .3s ease;
		position: relative;
	}
		
	.header__link:hover {
		color: #f14a58;
	}
	
	.header__link i {
		color: #a8a8a8;
		font-size: 13px;
		position: absolute;
		bottom: 5px;
		right: 0;
	}

	.header__burger.active:before {
		transform: rotate(45deg);
		background-color: #f14a58;
		top: 5px;
	}
	
	.header__burger.active:after {
		transform: rotate(-45deg);
		background-color: #f14a58;
		bottom: 5px;
	}
	.header__burger.active span {
		transform: scale(0);
	}

	.header-top__title {display: none;}

	.header-top__title_mobile {
		display: block;
		font-size: 24px;
	}

	.header-bottom {
		display: none;
	}

	.header-info {
		margin-left: auto;
	    padding-right: 20px;
		margin-right: 20px;
		border-right: 1px solid #e5e5e5;
	}

	.header-info__email {display: none;}
	.banner {margin-bottom: 55px;}

	.banner__item_left {
		width: 100%;
	    border: 1px solid #e5e5e5;
	    border-left: none;
	    border-right: none;
	}

	.banner__item_right {display: none;}
	
	.btn a {
	    padding: 20px 55px;
        font-size: 18px;
	}

	.footer-top__links {
		border: none;
		padding-right: 0;
		width: 100%;
	}
	
	.footer-top__links-item h2 {font-size: 14px;}
	.footer-top__links-item a {font-size: 12px;}
	.footer-top__links-item:first-child {margin-right: 100px;}
	.footer-top__links-item:last-child {margin-bottom: 60px;}
	.footer-top__info-item h2 {font-size: 14px;}
	.footer-top__info-item span {font-size: 12px;}
	.footer-top__info-item h2 {margin: 25px 0 15px 0;}
	.footer-top__info-wrapper {padding-bottom: 40px;}
	.footer-top__info-item:first-child {margin-right: 50px;}
	.footer-top__inner {flex-direction: column;}

	.footer-top-mobile {
		display: block;
		border-bottom: 1px solid #e5e5e5;
	}

	.footer-bottom-mobile {
		display: block;
		border-bottom: 1px solid #e5e5e5;
	}

	.footer-top__info {display: none;}
	.footer-bottom {display: none;}

	.footer-bottom__inner {
		margin: 0;
		padding: 25px 0;
	}

	.footer-bottom__help a {
		font-size: 10px;
		margin-left: 10px;
	}
	
	.footer-rights-mobile {display: block;}
	.footer-rights-inner {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    margin: 25px 0;
	}

	.footer-bottom__rights {font-size: 10px;}
	.footer-bottom__share h2 {font-size: 14px;}

	.footer-bottom__share-block {
		width: 40px;
		height: 19px;
		line-height: 19px;
	    font-size: 10px;
	}
}